@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --Slate900: #263e64;
    --Slate500: #7b89c9;
    --Slate300: #c3c9e8;
    --Slate100: #e5e9f2;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;
}

body { 
    font-family: 'outfit', sans-serif; /*Já que a fonte do <h1> e <p> é igual, deixar aqui o código fica mais limpo */
    background-color: var(--Slate100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}

.geral {
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    max-width: 320px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(159, 159, 159, 0.1);
}

.codigoqr {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 10px;
    
}

h1 {
    color: var(--Slate900);
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: 700;
}

p {
    color: var(--Slate300);
    font-size: 18px;
    margin-bottom: 15px;
    weight: 400;
}

